# R Data Frame Tutorial

## 파일 읽어오기

In [46]:
train <- read.csv("data/titanic/train.csv")

print(dim(train))

head(train)

[1] 891  12

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [47]:
dim(train)

[1] 891  12

In [48]:
# Index
rownames(train)

  [1] "1"   "2"   "3"   "4"   "5"   "6"   "7"   "8"   "9"   "10"  "11"  "12"
 [13] "13"  "14"  "15"  "16"  "17"  "18"  "19"  "20"  "21"  "22"  "23"  "24"
 [25] "25"  "26"  "27"  "28"  "29"  "30"  "31"  "32"  "33"  "34"  "35"  "36"
 [37] "37"  "38"  "39"  "40"  "41"  "42"  "43"  "44"  "45"  "46"  "47"  "48"
 [49] "49"  "50"  "51"  "52"  "53"  "54"  "55"  "56"  "57"  "58"  "59"  "60"
 [61] "61"  "62"  "63"  "64"  "65"  "66"  "67"  "68"  "69"  "70"  "71"  "72"
 [73] "73"  "74"  "75"  "76"  "77"  "78"  "79"  "80"  "81"  "82"  "83"  "84"
 [85] "85"  "86"  "87"  "88"  "89"  "90"  "91"  "92"  "93"  "94"  "95"  "96"
 [97] "97"  "98"  "99"  "100" "101" "102" "103" "104" "105" "106" "107" "108"
[109] "109" "110" "111" "112" "113" "114" "115" "116" "117" "118" "119" "120"
[121] "121" "122" "123" "124" "125" "126" "127" "128" "129" "130" "131" "132"
[133] "133" "134" "135" "136" "137" "138" "139" "140" "141" "142" "143" "144"
[145] "145" "146" "147" "148" "149" "150" "151" "152" "153" "154" "155" "156"
[157] "157" "158" "159" "160" "161" "162" "163" "164" "165" "166" "167" "168"
[169] "169" "170" "171" "172" "173" "174" "175" "176" "177" "178" "179" "180"
[181] "181" "182" "183" "184" "185" "186" "187" "188" "189" "190" "191" "192"
[193] "193" "194" "195" "196" "197" "198" "199" "200" "201" "202" "203" "204"
[205] "205" "206" "207" "208" "209" "210" "211" "212" "213" "214" "215" "216"
[217] "217" "218" "219" "220" "221" "222" "223" "224" "225" "226" "227" "228"
[229] "229" "230" "231" "232" "233" "234" "235" "236" "237" "238" "239" "240"
[241] "241" "242" "243" "244" "245" "246" "247" "248" "249" "250" "251" "252"
[253] "253" "254" "255" "256" "257" "258" "259" "260" "261" "262" "263" "264"
[265] "265" "266" "267" "268" "269" "270" "271" "272" "273" "274" "275" "276"
[277] "277" "278" "279" "280" "281" "282" "283" "284" "285" "286" "287" "288"
[289] "289" "290" "291" "292" "293" "294" "295" "296" "297" "298" "299" "300"
[301] "301" "302" "303" "304" "305" "306" "307" "308" "309" "310" "311" "312"
[313] "313" "314" "315" "316" "317" "318" "319" "320" "321" "322" "323" "324"
[325] "325" "326" "327" "328" "329" "330" "331" "332" "333" "334" "335" "336"
[337] "337" "338" "339" "340" "341" "342" "343" "344" "345" "346" "347" "348"
[349] "349" "350" "351" "352" "353" "354" "355" "356" "357" "358" "359" "360"
[361] "361" "362" "363" "364" "365" "366" "367" "368" "369" "370" "371" "372"
[373] "373" "374" "375" "376" "377" "378" "379" "380" "381" "382" "383" "384"
[385] "385" "386" "387" "388" "389" "390" "391" "392" "393" "394" "395" "396"
[397] "397" "398" "399" "400" "401" "402" "403" "404" "405" "406" "407" "408"
[409] "409" "410" "411" "412" "413" "414" "415" "416" "417" "418" "419" "420"
[421] "421" "422" "423" "424" "425" "426" "427" "428" "429" "430" "431" "432"
[433] "433" "434" "435" "436" "437" "438" "439" "440" "441" "442" "443" "444"
[445] "445" "446" "447" "448" "449" "450" "451" "452" "453" "454" "455" "456"
[457] "457" "458" "459" "460" "461" "462" "463" "464" "465" "466" "467" "468"
[469] "469" "470" "471" "472" "473" "474" "475" "476" "477" "478" "479" "480"
[481] "481" "482" "483" "484" "485" "486" "487" "488" "489" "490" "491" "492"
[493] "493" "494" "495" "496" "497" "498" "499" "500" "501" "502" "503" "504"
[505] "505" "506" "507" "508" "509" "510" "511" "512" "513" "514" "515" "516"
[517] "517" "518" "519" "520" "521" "522" "523" "524" "525" "526" "527" "528"
[529] "529" "530" "531" "532" "533" "534" "535" "536" "537" "538" "539" "540"
[541] "541" "542" "543" "544" "545" "546" "547" "548" "549" "550" "551" "552"
[553] "553" "554" "555" "556" "557" "558" "559" "560" "561" "562" "563" "564"
[565] "565" "566" "567" "568" "569" "570" "571" "572" "573" "574" "575" "576"
[577] "577" "578" "579" "580" "581" "582" "583" "584" "585" "586" "587" "588"
[589] "589" "590" "591" "592" "593" "594" "595" "596" "597" "598" "599" "600"
[601] "601" "602" "603" "604" "605" "606" "607" "608" "609" "610" "611" "612"
[613] "613" "614" "615" "616" "617" "618" "619" "620" "621" "622" "623" "624"
[625] "625" "626" "627" "628" "629" "630" "631" "632" "633" "634" "635" "636"
[637] "637" "638" "639" "640" "641" "642" "643" "644" "645" "646" "647" "648"
[649] "649" "650" "651" "652" "653" "654" "655" "656" "657" "658" "659" "660"
[661] "661" "662" "663" "664" "665" "666" "667" "668" "669" "670" "671" "672"
[673] "673" "674" "675" "676" "677" "678" "679" "680" "681" "682" "683" "684"
[685] "685" "686" "687" "688" "689" "690" "691" "692" "693" "694" "695" "696"
[697] "697" "698" "699" "700" "701" "702" "703" "704" "705" "706" "707" "708"
[709] "709" "710" "711" "712" "713" "714" "715" "716" "717" "718" "719" "720"
[721] "721" "722" "723" "724" "725" "726" "727" "728" "729" "730" "731" "732"
[733] "733" "734" "735" "736" "737" "738" "739" "740" "741" "742" "743" "744"
[745] "745" "746" "747" "748" "749" "750" "751" "752" "753" "754" "755" "756"
[757] "757" "758" "759" "760" "761" "762" "763" "764" "765" "766" "767" "768"
[769] "769" "770" "771" "772" "773" "774" "775" "776" "777" "778" "779" "780"
[781] "781" "782" "783" "784" "785" "786" "787" "788" "789" "790" "791" "792"
[793] "793" "794" "795" "796" "797" "798" "799" "800" "801" "802" "803" "804"
[805] "805" "806" "807" "808" "809" "810" "811" "812" "813" "814" "815" "816"
[817] "817" "818" "819" "820" "821" "822" "823" "824" "825" "826" "827" "828"
[829] "829" "830" "831" "832" "833" "834" "835" "836" "837" "838" "839" "840"
[841] "841" "842" "843" "844" "845" "846" "847" "848" "849" "850" "851" "852"
[853] "853" "854" "855" "856" "857" "858" "859" "860" "861" "862" "863" "864"
[865] "865" "866" "867" "868" "869" "870" "871" "872" "873" "874" "875" "876"
[877] "877" "878" "879" "880" "881" "882" "883" "884" "885" "886" "887" "888"
[889] "889" "890" "891"

In [49]:
# Column names
names(train)

 [1] "PassengerId" "Survived"    "Pclass"      "Name"        "Sex"
 [6] "Age"         "SibSp"       "Parch"       "Ticket"      "Fare"
[11] "Cabin"       "Embarked"

In [50]:
# 상위 5개
head(train, 5)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S

In [51]:
# 상위 3개
head(train, 3)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S

In [52]:
# 하위 5개
tail(train,5)

    PassengerId Survived Pclass Name                                     Sex
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket     Fare  Cabin Embarked
887 27  0     0     211536     13.00       S
888 19  0     0     112053     30.00 B42   S
889 NA  1     2     W./C. 6607 23.45       S
890 26  0     0     111369     30.00 C148  C
891 32  0     0     370376      7.75       Q

In [53]:
# 하위 7개
tail(train, 7)

    PassengerId Survived Pclass Name                                     Sex
885 885         0        3      Sutehall, Mr. Henry Jr                   male
886 886         0        3      Rice, Mrs. William (Margaret Norton)     female
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket          Fare   Cabin Embarked
885 25  0     0     SOTON/OQ 392076  7.050       S
886 39  0     5     382652          29.125       Q
887 27  0     0     211536          13.000       S
888 19  0     0     112053          30.000 B42   S
889 NA  1     2     W./C. 6607      23.450       S
890 26  0     0     111369          30.000 C148  C
891 32  0     0     370376           7.750       Q

## 행렬

### 열(Column) 가져오기

In [54]:
# Survive 컬럼 가져오기
head(train["Survived"])

  Survived
1 0
2 1
3 1
4 1
5 0
6 0

In [55]:
# 여러개 컬럼 가져오기
head(train[c("Sex", "Name", "Survived")])

  Sex    Name                                                Survived
1 male   Braund, Mr. Owen Harris                             0
2 female Cumings, Mrs. John Bradley (Florence Briggs Thayer) 1
3 female Heikkinen, Miss. Laina                              1
4 female Futrelle, Mrs. Jacques Heath (Lily May Peel)        1
5 male   Allen, Mr. William Henry                            0
6 male   Moran, Mr. James                                    0

In [56]:
# 리스트를 변수에 담아서 가져오기
columns <- c("Sex", "Name", "Survived")
head(train[columns])

  Sex    Name                                                Survived
1 male   Braund, Mr. Owen Harris                             0
2 female Cumings, Mrs. John Bradley (Florence Briggs Thayer) 1
3 female Heikkinen, Miss. Laina                              1
4 female Futrelle, Mrs. Jacques Heath (Lily May Peel)        1
5 male   Allen, Mr. William Henry                            0
6 male   Moran, Mr. James                                    0

### 행(row) 가져오기

In [57]:
# 1번 행 가져오기
train[1,]

  PassengerId Survived Pclass Name                    Sex  Age SibSp Parch
1 1           0        3      Braund, Mr. Owen Harris male 22  1     0
  Ticket    Fare Cabin Embarked
1 A/5 21171 7.25       S

In [58]:
# 1-7 번 행 가져오기
train[1:7,]

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
7 7           0        1
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
7 McCarthy, Mr. Timothy J                             male   54  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q
7 17463            51.8625 E46   S

In [59]:
# 1,3,7,13 행
train[c(1,3,7,13),]

   PassengerId Survived Pclass Name                           Sex    Age SibSp
1   1          0        3      Braund, Mr. Owen Harris        male   22  1
3   3          1        3      Heikkinen, Miss. Laina         female 26  0
7   7          0        1      McCarthy, Mr. Timothy J        male   54  0
13 13          0        3      Saundercock, Mr. William Henry male   20  0
   Parch Ticket           Fare    Cabin Embarked
1  0     A/5 21171         7.2500       S
3  0     STON/O2. 3101282  7.9250       S
7  0     17463            51.8625 E46   S
13 0     A/5. 2151         8.0500       S

In [60]:
# 변수에 담아서 행 가져오기
passenger_ids <- c(1, 3, 7, 13)
train[passenger_ids,]

   PassengerId Survived Pclass Name                           Sex    Age SibSp
1   1          0        3      Braund, Mr. Owen Harris        male   22  1
3   3          1        3      Heikkinen, Miss. Laina         female 26  0
7   7          0        1      McCarthy, Mr. Timothy J        male   54  0
13 13          0        3      Saundercock, Mr. William Henry male   20  0
   Parch Ticket           Fare    Cabin Embarked
1  0     A/5 21171         7.2500       S
3  0     STON/O2. 3101282  7.9250       S
7  0     17463            51.8625 E46   S
13 0     A/5. 2151         8.0500       S

### 행렬 동시에 가져오기

In [61]:
train[1, "Sex"]

[1] male
Levels: female male

In [62]:
# 여러 열 가져오기
train[1, c("Sex", "Name", "Survived")]

  Sex  Name                    Survived
1 male Braund, Mr. Owen Harris 0

In [63]:
# 여러 행 가져오기
train[1:7, "Sex"]

[1] male   female female female male   male   male
Levels: female male

In [66]:
# 여러 행과 열을 동시에 가져오기
train[c(1,3,7,13), c("Sex","Name","Survived")]

   Sex    Name                           Survived
1  male   Braund, Mr. Owen Harris        0
3  female Heikkinen, Miss. Laina         1
7  male   McCarthy, Mr. Timothy J        0
13 male   Saundercock, Mr. William Henry 0

## 색인

In [67]:
# 남성 승객 조회
head(train[train["Sex"] == "male",])

   PassengerId Survived Pclass Name                           Sex  Age SibSp
1   1          0        3      Braund, Mr. Owen Harris        male 22  1
5   5          0        3      Allen, Mr. William Henry       male 35  0
6   6          0        3      Moran, Mr. James               male NA  0
7   7          0        1      McCarthy, Mr. Timothy J        male 54  0
8   8          0        3      Palsson, Master. Gosta Leonard male  2  3
13 13          0        3      Saundercock, Mr. William Henry male 20  0
   Parch Ticket    Fare    Cabin Embarked
1  0     A/5 21171  7.2500       S
5  0     373450     8.0500       S
6  0     330877     8.4583       Q
7  0     17463     51.8625 E46   S
8  1     349909    21.0750       S
13 0     A/5. 2151  8.0500       S

In [70]:
# 운임요금(Fare) 값이 20달러보다 높은
head(train[train["Fare"] > 20,])

   PassengerId Survived Pclass
2   2          1        1
4   4          1        1
7   7          0        1
8   8          0        3
10 10          1        2
12 12          1        1
   Name                                                Sex    Age SibSp Parch
2  Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
4  Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
7  McCarthy, Mr. Timothy J                             male   54  0     0
8  Palsson, Master. Gosta Leonard                      male    2  3     1
10 Nasser, Mrs. Nicholas (Adele Achem)                 female 14  1     0
12 Bonnell, Miss. Elizabeth                            female 58  0     0
   Ticket   Fare    Cabin Embarked
2  PC 17599 71.2833 C85   C
4  113803   53.1000 C123  S
7  17463    51.8625 E46   S
8  349909   21.0750       S
10 237736   30.0708       C
12 113783   26.5500 C103  S

In [71]:
# 선착장(Embarked)이 C(Cherbourg)인 승객만 조회
head(train[train["Embarked"] == "C",])

   PassengerId Survived Pclass
2   2          1        1
10 10          1        2
20 20          1        3
27 27          0        3
31 31          0        1
32 32          1        1
   Name                                                Sex    Age SibSp Parch
2  Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
10 Nasser, Mrs. Nicholas (Adele Achem)                 female 14  1     0
20 Masselmani, Mrs. Fatima                             female NA  0     0
27 Emir, Mr. Farred Chehab                             male   NA  0     0
31 Uruchurtu, Don. Manuel E                            male   40  0     0
32 Spencer, Mrs. William Augustus (Marie Eugenie)      female NA  1     0
   Ticket   Fare     Cabin Embarked
2  PC 17599  71.2833 C85   C
10 237736    30.0708       C
20 2649       7.2250       C
27 2631       7.2250       C
31 PC 17601  27.7208       C
32 PC 17569 146.5208 B78   C

In [79]:
#head(train[train["Embarked"] %in% c("Q","S"),])
head(train[train["Embarked"] == "S",])

  PassengerId Survived Pclass Name
1 1           0        3      Braund, Mr. Owen Harris
3 3           1        3      Heikkinen, Miss. Laina
4 4           1        1      Futrelle, Mrs. Jacques Heath (Lily May Peel)
5 5           0        3      Allen, Mr. William Henry
7 7           0        1      McCarthy, Mr. Timothy J
8 8           0        3      Palsson, Master. Gosta Leonard
  Sex    Age SibSp Parch Ticket           Fare    Cabin Embarked
1 male   22  1     0     A/5 21171         7.2500       S
3 female 26  0     0     STON/O2. 3101282  7.9250       S
4 female 35  1     0     113803           53.1000 C123  S
5 male   35  0     0     373450            8.0500       S
7 male   54  0     0     17463            51.8625 E46   S
8 male    2  3     1     349909           21.0750       S

In [90]:
head(train[train["Embarked"] == "S",])

  PassengerId Survived Pclass Name
1 1           0        3      Braund, Mr. Owen Harris
3 3           1        3      Heikkinen, Miss. Laina
4 4           1        1      Futrelle, Mrs. Jacques Heath (Lily May Peel)
5 5           0        3      Allen, Mr. William Henry
7 7           0        1      McCarthy, Mr. Timothy J
8 8           0        3      Palsson, Master. Gosta Leonard
  Sex    Age SibSp Parch Ticket           Fare    Cabin Embarked
1 male   22  1     0     A/5 21171         7.2500       S
3 female 26  0     0     STON/O2. 3101282  7.9250       S
4 female 35  1     0     113803           53.1000 C123  S
5 male   35  0     0     373450            8.0500       S
7 male   54  0     0     17463            51.8625 E46   S
8 male    2  3     1     349909           21.0750       S

In [91]:
head(train[train["Embarked"] == c("Q","S"),])

   PassengerId Survived Pclass Name
4   4          1        1      Futrelle, Mrs. Jacques Heath (Lily May Peel)
8   8          0        3      Palsson, Master. Gosta Leonard
12 12          1        1      Bonnell, Miss. Elizabeth
14 14          0        3      Andersson, Mr. Anders Johan
16 16          1        2      Hewlett, Mrs. (Mary D Kingcome)
17 17          0        3      Rice, Master. Eugene
   Sex    Age SibSp Parch Ticket Fare   Cabin Embarked
4  female 35  1     0     113803 53.100 C123  S
8  male    2  3     1     349909 21.075       S
12 female 58  0     0     113783 26.550 C103  S
14 male   39  1     5     347082 31.275       S
16 female 55  0     0     248706 16.000       S
17 male    2  4     1     382652 29.125       Q

In [94]:
not_cherbourg <- c("Q", "S")
embarked_isin <- train["Embarked"] == not_cherbourg

head(train[embarked_isin,])

    PassengerId Survived Pclass
4    4          1        1
8    8          0        3
12  12          1        1
14  14          0        3
16  16          1        2
17  17          0        3
18  18          1        2
22  22          1        2
23  23          1        3
24  24          1        1
26  26          1        3
28  28          0        1
29  29          1        3
30  30          0        3
33  33          1        3
34  34          0        2
36  36          0        1
38  38          0        3
42  42          0        2
45  45          1        3
46  46          0        3
47  47          0        3
50  50          0        3
52  52          0        3
54  54          1        2
56  56          1        1
60  60          0        3
64  64          0        3
68  68          0        3
70  70          0        3
⋮   ⋮           ⋮        ⋮
808 808         0        3
810 810         1        1
812 812         0        3
814 814         0        3
816 816         0        1
820 820         0        3
822 822         1        3
824 824         1        3
829 829         1        3
832 832         1        2
834 834         0        3
838 838         0        3
842 842         0        2
846 846         0        3
852 852         0        3
854 854         1        1
856 856         1        3
858 858         1        1
862 862         0        2
864 864         0        3
866 866         1        2
868 868         0        1
870 870         1        3
872 872         1        1
874 874         0        3
878 878         0        3
882 882         0        3
884 884         0        2
888 888         1        1
891 891         0        3
    Name                                                      Sex    Age
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35
8   Palsson, Master. Gosta Leonard                            male    2
12  Bonnell, Miss. Elizabeth                                  female 58
14  Andersson, Mr. Anders Johan                               male   39
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55
17  Rice, Master. Eugene                                      male    2
18  Williams, Mr. Charles Eugene                              male   NA
22  Beesley, Mr. Lawrence                                     male   34
23  McGowan, Miss. Anna "Annie"                               female 15
24  Sloper, Mr. William Thompson                              male   28
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38
28  Fortune, Mr. Charles Alexander                            male   19
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA
30  Todoroff, Mr. Lalio                                       male   NA
33  Glynn, Miss. Mary Agatha                                  female NA
34  Wheadon, Mr. Edward H                                     male   66
36  Holverson, Mr. Alexander Oskar                            male   42
38  Cann, Mr. Ernest Charles                                  male   21
42  Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)  female 27
45  Devaney, Miss. Margaret Delia                             female 19
46  Rogers, Mr. William John                                  male   NA
47  Lennon, Mr. Denis                                         male   NA
50  Arnold-Franchi, Mrs. Josef (Josefine Franchi)             female 18
52  Nosworthy, Mr. Richard Cater                              male   21
54  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)        female 29
56  Woolner, Mr. Hugh                                         male   NA
60  Goodwin, Master. William Frederick                        male   11
64  Skoog, Master. Harald                                     male    4
68  Crease, Mr. Ernest James                                  male   19
70  Kink, Mr. Vincenz                                         male   26
⋮   ⋮                                                         ⋮      ⋮
808 Pettersson, Miss. Ellen Natalia                           female 18.00
810 Chambers, Mrs. Norman Campbell (Bertha Griggs)            female 33.00
812 Lester, Mr. James                                         male   39.00
814 Andersson, Miss. Ebba Iris Alfrida                        female  6.00
816 Fry, Mr. Richard                                          male      NA
820 Skoog, Master. Karl Thorsten                              male   10.00
822 Lulic, Mr. Nikola                                         male   27.00
824 Moor, Mrs. (Beila)                                        female 27.00
829 McCormack, Mr. Thomas Joseph                              male      NA
832 Richards, Master. George Sibley                           male    0.83
834 Augustsson, Mr. Albert                                    male   23.00
838 Sirota, Mr. Maurice                                       male      NA
842 Mudd, Mr. Thomas Charles                                  male   16.00
846 Abbing, Mr. Anthony                                       male   42.00
852 Svensson, Mr. Johan                                       male   74.00
854 Lines, Miss. Mary Conover                                 female 16.00
856 Aks, Mrs. Sam (Leah Rosen)                                female 18.00
858 Daly, Mr. Peter Denis                                     male   51.00
862 Giles, Mr. Frederick Edward                               male   21.00
864 Sage, Miss. Dorothy Edith "Dolly"                         female    NA
866 Bystrom, Mrs. (Karolina)                                  female 42.00
868 Roebling, Mr. Washington Augustus II                      male   31.00
870 Johnson, Master. Harold Theodor                           male    4.00
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47.00
874 Vander Cruyssen, Mr. Victor                               male   47.00
878 Petroff, Mr. Nedelio                                      male   19.00
882 Markun, Mr. Johann                                        male   33.00
884 Banfield, Mr. Frederick James                             male   28.00
888 Graham, Miss. Margaret Edith                              female 19.00
891 Dooley, Mr. Patrick                                       male   32.00
    SibSp Parch Ticket           Fare     Cabin       Embarked
4   1     0     113803            53.1000 C123        S
8   3     1     349909            21.0750             S
12  0     0     113783            26.5500 C103        S
14  1     5     347082            31.2750             S
16  0     0     248706            16.0000             S
17  4     1     382652            29.1250             Q
18  0     0     244373            13.0000             S
22  0     0     248698            13.0000 D56         S
23  0     0     330923             8.0292             Q
24  0     0     113788            35.5000 A6          S
26  1     5     347077            31.3875             S
28  3     2     19950            263.0000 C23 C25 C27 S
29  0     0     330959             7.8792             Q
30  0     0     349216             7.8958             S
33  0     0     335677             7.7500             Q
34  0     0     C.A. 24579        10.5000             S
36  1     0     113789            52.0000             S
38  0     0     A./5. 2152         8.0500             S
42  1     0     11668             21.0000             S
45  0     0     330958             7.8792             Q
46  0     0     S.C./A.4. 23567    8.0500             S
47  1     0     370371            15.5000             Q
50  1     0     349237            17.8000             S
52  0     0     A/4. 39886         7.8000             S
54  1     0     2926              26.0000             S
56  0     0     19947             35.5000 C52         S
60  5     2     CA 2144           46.9000             S
64  3     2     347088            27.9000             S
68  0     0     S.P. 3464          8.1583             S
70  2     0     315151             8.6625             S
⋮   ⋮     ⋮     ⋮                ⋮        ⋮           ⋮
808 0     0     347087            7.7750              S
810 1     0     113806           53.1000  E8          S
812 0     0     A/4 48871        24.1500              S
814 4     2     347082           31.2750              S
816 0     0     112058            0.0000  B102        S
820 3     2     347088           27.9000              S
822 0     0     315098            8.6625              S
824 0     1     392096           12.4750  E121        S
829 0     0     367228            7.7500              Q
832 1     1     29106            18.7500              S
834 0     0     347468            7.8542              S
838 0     0     392092            8.0500              S
842 0     0     S.O./P.P. 3      10.5000              S
846 0     0     C.A. 5547         7.5500              S
852 0     0     347060            7.7750              S
854 0     1     PC 17592         39.4000  D28         S
856 0     1     392091            9.3500              S
858 0     0     113055           26.5500  E17         S
862 1     0     28134            11.5000              S
864 8     2     CA. 2343         69.5500              S
866 0     0     236852           13.0000              S
868 0     0     PC 17590         50.4958  A24         S
870 1     1     347742           11.1333              S
872 1     1     11751            52.5542  D35         S
874 0     0     345765            9.0000              S
878 0     0     349212            7.8958              S
882 0     0     349257            7.8958              S
884 0     0     C.A./SOTON 34068 10.5000              S
888 0     0     112053           30.0000  B42         S
891 0     0     370376            7.7500              Q